.idea
doc
examples
#src
test
build

# root files
.editorconfig
.eslintrc.yml
.istanbul.yml
.travis.yml
webpack.common.config.js
webpack.module.config.js
webpack.browser.config.js
webpack.browser-min.config.js
